# Desafio 7DaysOfCode

### Day 1: Coleta e Organização dos Dados

In [63]:
import pandas as pd
import os

Verificando e lendo os arquivos

In [64]:

diretorio = 'D:\\Usuario\\Documents\\Cursos\\7DaysOfCode - Python Pandas\\7DaysOfCode\\Datasets\\dados_emprestimos'

arquivos = os.listdir(diretorio)
print(f"Arquivos no diretório '{diretorio}':")
for arquivo in arquivos:
        print(arquivo)

Arquivos no diretório 'D:\Usuario\Documents\Cursos\7DaysOfCode - Python Pandas\7DaysOfCode\Datasets\dados_emprestimos':
emprestimos-20101.csv
emprestimos-20102.csv
emprestimos-20111.csv
emprestimos-20112.csv
emprestimos-20121.csv
emprestimos-20122.csv
emprestimos-20131.csv
emprestimos-20132.csv
emprestimos-20141.csv
emprestimos-20142.csv
emprestimos-20151.csv
emprestimos-20152.csv
emprestimos-20161.csv
emprestimos-20162.csv
emprestimos-20171.csv
emprestimos-20172.csv
emprestimos-20181.csv
emprestimos-20182.csv
emprestimos-20191.csv
emprestimos-20192.csv
emprestimos-20201.csv

In [65]:

emprestimos_20101 = pd.read_csv(os.path.join(diretorio, 'emprestimos-20101.csv'))
emprestimos_20102 = pd.read_csv(os.path.join(diretorio, 'emprestimos-20102.csv'))
emprestimos_20111 = pd.read_csv(os.path.join(diretorio, 'emprestimos-20111.csv'))
emprestimos_20112 = pd.read_csv(os.path.join(diretorio, 'emprestimos-20112.csv'))
emprestimos_20121 = pd.read_csv(os.path.join(diretorio, 'emprestimos-20121.csv'))
emprestimos_20122 = pd.read_csv(os.path.join(diretorio, 'emprestimos-20122.csv'))
emprestimos_20131 = pd.read_csv(os.path.join(diretorio, 'emprestimos-20131.csv'))
emprestimos_20132 = pd.read_csv(os.path.join(diretorio, 'emprestimos-20132.csv'))
emprestimos_20141 = pd.read_csv(os.path.join(diretorio, 'emprestimos-20141.csv'))
emprestimos_20142 = pd.read_csv(os.path.join(diretorio, 'emprestimos-20142.csv'))
emprestimos_20151 = pd.read_csv(os.path.join(diretorio, 'emprestimos-20151.csv'))
emprestimos_20152 = pd.read_csv(os.path.join(diretorio, 'emprestimos-20152.csv'))
emprestimos_20161 = pd.read_csv(os.path.join(diretorio, 'emprestimos-20161.csv'))
emprestimos_20162 = pd.read_csv(os.path.join(diretorio, 'emprestimos-20162.csv'))
emprestimos_20171 = pd.read_csv(os.path.join(diretorio, 'emprestimos-20171.csv'))
emprestimos_20172 = pd.read_csv(os.path.join(diretorio, 'emprestimos-20172.csv'))
emprestimos_20181 = pd.read_csv(os.path.join(diretorio, 'emprestimos-20181.csv'))
emprestimos_20182 = pd.read_csv(os.path.join(diretorio, 'emprestimos-20182.csv'))
emprestimos_20191 = pd.read_csv(os.path.join(diretorio, 'emprestimos-20191.csv'))
emprestimos_20192 = pd.read_csv(os.path.join(diretorio, 'emprestimos-20182.csv'))
emprestimos_20201 = pd.read_csv(os.path.join(diretorio, 'emprestimos-20201.csv'))

In [66]:
# Unificando os arquivos
emprestimos = pd.concat(  [emprestimos_20101, 
            emprestimos_20102 ,
            emprestimos_20111 ,
            emprestimos_20112,
            emprestimos_20121,
            emprestimos_20122,
            emprestimos_20131,
            emprestimos_20132,
            emprestimos_20141,
            emprestimos_20142,
            emprestimos_20151,
            emprestimos_20152,
            emprestimos_20161,
            emprestimos_20162,
            emprestimos_20171,
            emprestimos_20172,
            emprestimos_20181,
            emprestimos_20182,
            emprestimos_20191,
            emprestimos_20192,
            emprestimos_20201],

            axis=0,
            verify_integrity=False,
            ignore_index=False)

In [67]:
emprestimos

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario
0,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,ALUNO DE GRADUAÇÃO
1,709685,L167050,NaN,2010/01/04 07:44:10.750000000,2010/01/12 07:34:13.934000000,2.008023e+09,ALUNO DE GRADUAÇÃO
2,709686,2006017618,2010/01/26 08:07:01.738000000,2010/01/04 08:08:44.081000000,2010/02/25 07:36:25.800000000,2.008112e+09,ALUNO DE PÓS-GRADUAÇÃO
3,709687,L184117,2010/01/18 11:07:46.470000000,2010/01/04 08:24:21.284000000,2010/02/03 08:58:45.692000000,2.007211e+08,ALUNO DE GRADUAÇÃO
4,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,ALUNO DE GRADUAÇÃO
...,...,...,...,...,...,...,...
26556,2989086,2008047044,NaN,2020/05/05 19:51:06.059000000,2021/05/13 14:53:31.000000000,3.067431e+06,SERVIDOR TÉCNICO-ADMINISTRATIVO
26557,2989087,2008047047,NaN,2020/05/05 19:51:06.135000000,2021/05/13 14:53:38.000000000,3.067431e+06,SERVIDOR TÉCNICO-ADMINISTRATIVO
26558,2989088,2010052905,NaN,2020/05/05 19:51:06.164000000,2021/05/13 15:01:46.000000000,3.067431e+06,SERVIDOR TÉCNICO-ADMINISTRATIVO
26559,2989089,2010048023,NaN,2020/06/09 11:54:02.669000000,2021/07/21 15:33:55.000000000,2.020101e+10,ALUNO DE PÓS-GRADUAÇÃO
26560,2989090,2013106838,NaN,2020/06/09 11:54:02.852000000,2021/07/21 15:33:45.000000000,2.020101e+10,ALUNO DE PÓS-GRADUAÇÃO

Removendo os dados duplicados

In [68]:
if emprestimos. duplicated().sum()>=0:
    print('Temos dados duplicados')
    emprestimos_sem_duplicados=emprestimos.drop_duplicates()
    quantidade_duplicados = len(emprestimos) - len(emprestimos_sem_duplicados)
    print(f'Foram removidos {quantidade_duplicados} dados duplicados')

else:
    print('Não temos dados duplicados')
    emprestimos_sem_duplicados=emprestimos

Temos dados duplicados
Foram removidos 95052 dados duplicados

Verificando os dados nulos

In [69]:
emprestimos_sem_duplicados. isnull().sum()

id_emprestimo                 0
codigo_barras                 0
data_renovacao          1237601
data_emprestimo               0
data_devolucao             6434
matricula_ou_siape         3115
tipo_vinculo_usuario          0
dtype: int64

Importando mais dados

In [70]:
diretorio = 'D:\\Usuario\\Documents\\Cursos\\7DaysOfCode - Python Pandas\\7DaysOfCode\\Datasets'

In [71]:
dados_exemplares = pd.read_parquet(os.path.join(diretorio, 'dados_exemplares.parquet'))
dados_exemplares

,id_exemplar,codigo_barras,colecao,biblioteca,status_material,localizacao,registro_sistema
index,,,,,,,
0,5,L000003,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,694,1
1,4,L000002,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,688,1
2,3,L000001,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,638,1
3,7,L000114,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,616,5
5,10,L000041,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,657,15
...,...,...,...,...,...,...,...
568580,1353472,2021011150,Acervo Circulante,Biblioteca Setorial do Núcleo de Educação da I...,REGULAR,951,268231
568581,1353473,2019013454,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,997,268233
568582,1353474,2019012811,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,987,268234
568583,1353475,2019013451,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,764,268235
568584,1353476,2019012276,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,962,268236

Unindo os dados

In [72]:
emprestimos_completo = emprestimos_sem_duplicados.merge(dados_exemplares)
emprestimos_completo

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario,id_exemplar,colecao,biblioteca,status_material,localizacao,registro_sistema
0,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,ALUNO DE GRADUAÇÃO,13259,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630,4225
1,726965,L095049,2010/03/31 12:41:08.684000000,2010/03/01 12:40:56.212000000,2010/04/30 14:42:35.366000000,2.009122e+09,ALUNO DE PÓS-GRADUAÇÃO,13259,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630,4225
2,709685,L167050,NaN,2010/01/04 07:44:10.750000000,2010/01/12 07:34:13.934000000,2.008023e+09,ALUNO DE GRADUAÇÃO,70865,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647,25009
3,717763,L167050,NaN,2010/02/11 11:16:30.335000000,2010/03/04 08:54:32.262000000,2.008050e+09,ALUNO DE GRADUAÇÃO,70865,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647,25009
4,729996,L167050,2010/03/17 09:08:26.874000000,2010/03/04 13:36:26.599000000,2010/03/31 18:04:29.669000000,2.007226e+08,ALUNO DE GRADUAÇÃO,70865,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647,25009
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1992284,2989020,2014062640,NaN,2020/03/17 19:51:15.700000000,2021/01/07 11:16:28.000000000,2.019004e+10,ALUNO DE GRADUAÇÃO,1157915,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,228,213248
1992285,2989032,2018003324,NaN,2020/03/17 20:00:11.416000000,2021/08/30 13:29:44.000000000,2.019102e+10,ALUNO DE PÓS-GRADUAÇÃO,1317173,Acervo Circulante,Biblioteca Setorial da Faculdade de Ciências d...,REGULAR,784,255835
1992286,2989049,2006024313,NaN,2020/03/17 20:47:18.741000000,NaN,2.015013e+10,ALUNO DE GRADUAÇÃO,206073,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,663,82178
1992287,2989061,2018031352,NaN,2020/03/17 21:22:22.138000000,2021/07/26 15:05:20.000000000,2.020001e+10,ALUNO DE GRADUAÇÃO,1342535,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,355,174443
1992288,2989076,2019014718,NaN,2020/03/19 10:18:42.837000000,NaN,2.019101e+10,ALUNO DE PÓS-GRADUAÇÃO,1323312,Acervo Circulante,Biblioteca Setorial do Núcleo de Educação da I...,REGULAR,514,236084

### Day 2: Manipulação dos Dados

In [73]:
emprestimos_completo.head()

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario,id_exemplar,colecao,biblioteca,status_material,localizacao,registro_sistema
0,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,ALUNO DE GRADUAÇÃO,13259,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630,4225
1,726965,L095049,2010/03/31 12:41:08.684000000,2010/03/01 12:40:56.212000000,2010/04/30 14:42:35.366000000,2.009122e+09,ALUNO DE PÓS-GRADUAÇÃO,13259,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630,4225
2,709685,L167050,NaN,2010/01/04 07:44:10.750000000,2010/01/12 07:34:13.934000000,2.008023e+09,ALUNO DE GRADUAÇÃO,70865,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647,25009
3,717763,L167050,NaN,2010/02/11 11:16:30.335000000,2010/03/04 08:54:32.262000000,2.008050e+09,ALUNO DE GRADUAÇÃO,70865,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647,25009
4,729996,L167050,2010/03/17 09:08:26.874000000,2010/03/04 13:36:26.599000000,2010/03/31 18:04:29.669000000,2.007226e+08,ALUNO DE GRADUAÇÃO,70865,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647,25009

In [74]:
emprestimos_completo['localizacao'].value_counts()

localizacao
608    15697
602    15498
684    15180
682    15118
637    14939
       ...
921       23
923       23
956       23
998       20
985       19
Name: count, Length: 900, dtype: int64

In [75]:
valores = emprestimos_completo['localizacao'].unique()

In [76]:
valores

array([630, 647, 640, 609, 686, 698, 645, 658, 697, 643, 612, 673, 651,
       674, 631, 634, 699, 623, 812, 615, 669, 620, 610, 679, 656, 619,
       644, 677, 693, 633, 662, 340, 602, 625, 694, 692, 685, 608, 628,
       624, 664, 663, 691, 660, 605, 611, 649, 696, 627, 626, 684, 672,
       616, 642, 676, 622, 666, 603, 668, 606, 652, 607, 654, 657, 636,
       681, 614, 632, 646, 621, 648, 617, 670, 690, 600, 682, 683, 678,
       650, 687, 641, 659, 695, 688, 655, 680, 635, 618, 604, 689, 637,
       601, 639, 665, 667, 671, 638, 653, 629, 675, 906, 661, 613, 502,
       370, 945, 332, 348, 593, 397, 314, 343, 588, 368, 341, 322, 240,
       344, 926,   4, 911, 165, 978, 718, 388, 329, 885, 928, 316, 386,
       367, 315, 326, 389,  14, 331, 317, 365, 300, 366, 328, 345, 342,
       375, 378, 336, 895, 876, 324, 307, 364, 312, 379, 381, 303,  93,
       339, 823, 393, 354,  84, 310, 795, 376, 905, 858, 383, 791, 173,
       199, 337, 732,  54, 500,   7, 551, 292, 924, 327, 203, 509, 717,
       590, 120, 221, 815,  76, 515, 555, 320, 305, 525, 516, 719, 373,
       371, 830, 124, 949, 149, 265, 549, 117, 361, 237, 334, 535, 853,
       708,   2, 929, 759, 359, 570,  92, 548, 706, 709,  52, 531, 942,
       595, 358, 323, 569, 338, 523, 333, 541, 995, 540, 321, 369, 189,
       357, 222, 599, 566, 384, 721, 200, 545, 866, 734, 533, 517,  72,
       399, 580, 704, 575, 550,  82, 176, 267, 554, 374,  43, 239,  60,
       275, 253, 727, 542, 863, 196, 230,  97, 160, 118, 145, 128,  20,
       579, 958, 144, 829, 943,  10, 825, 960,  34, 387, 380, 355, 353,
       363, 362, 395, 304, 352, 308, 318, 391, 891, 398, 301, 360, 330,
       394, 705, 396, 302, 311, 351, 313, 306, 350, 325, 335, 356, 382,
       377, 392, 346, 372, 390, 878, 309, 319, 347, 818, 136,   5, 385,
       349,   9, 780, 742,  13, 997, 225,  73, 573, 121, 536, 519, 744,
       556, 884, 246,  88, 252, 828, 850, 532, 231, 934, 565,  32, 907,
       547, 583,  68, 122,  57, 712, 527,  55, 142, 146, 119, 752, 726,
       166, 833, 773,  71, 299, 207,  19, 524, 260, 948, 169,  24, 851,
       769, 172, 806, 783, 725, 786, 701, 703, 900, 762, 977, 735, 781,
       998, 138, 288, 501,  99, 272, 918, 834, 824, 521, 102, 247, 930,
       754,   3, 962, 298, 514, 206, 994, 107, 913,  95, 219, 581, 266,
        94, 872, 888, 774, 283, 108,  70, 257, 164,  91, 226, 213, 294,
       101, 155, 951, 259, 273, 115, 129, 210, 100, 279, 163, 167, 125,
       993,  77, 184,  45, 132, 159,  87, 113,  80,   8, 242,  31,   1,
       134, 131,  33, 156, 197, 162, 187,  26, 286, 212, 235, 178, 123,
       194, 202, 106,  51, 183, 216, 103, 217, 214, 269, 282,  98, 254,
       109, 133, 232, 233, 175, 188, 182,  16,  81,  28,  23, 277, 195,
       248,  30, 171, 227, 295, 104, 287,  36, 245, 280, 296, 154, 291,
       152,  58,   0, 150, 148, 276, 281, 201, 215, 153,  37, 151,  62,
        41,  96,  17,   6, 177, 270, 126, 278, 271,  65, 250, 192, 263,
       141, 297, 264, 130, 181, 174, 236, 220, 158,  12,  67, 224, 143,
       186, 261, 238,  38, 137, 208, 256,  46,  79, 228, 112, 168,  25,
       255,  44,  49, 170,  48, 205, 558,  27, 179,  61,  90, 839,  40,
        21, 204,  18, 262, 193, 244, 110, 111, 116,  29,  50,  56, 223,
        78, 105, 180,  59,  15, 289, 218, 147,  83,  66, 190, 211, 229,
       274, 538, 234, 290,  35, 135,  11, 733,  22,  75, 139, 157, 185,
        53, 251, 243, 161,  74, 198, 268, 140, 241, 249,  89, 910,  86,
        63, 797,  39,  64, 114, 293,  85, 284,  47,  69, 285,  42, 209,
       258, 529, 503, 191, 510, 127, 964, 842, 880, 940, 594, 584, 887,
       877, 758, 507, 508, 984, 979, 873, 562, 837, 596, 737, 896, 511,
       821, 770, 955, 861, 724, 586, 560, 543, 539, 568, 574, 553, 561,
       597, 865, 520, 563, 526, 589, 559, 530, 505, 518, 506, 576, 591,
       598, 512, 567, 577, 587, 582, 571, 537, 544, 513, 557, 592, 522,
       564, 504, 534, 572, 528, 578, 546, 585, 552, 972, 789, 936, 980,
       756, 869, 933, 761, 778, 805, 938, 729, 847, 991, 862, 768, 826,
       981, 814, 855, 846, 922, 987, 889, 952, 753, 749, 917, 766, 999,
       750, 932, 838, 798, 870, 901, 971, 813, 903, 854, 950, 879, 711,
       925, 867, 716, 965, 875, 857, 990, 849, 988, 702, 852, 794, 832,
       710, 902, 835, 772, 939, 864, 968, 765, 914, 792, 822, 954, 745,
       807, 741, 723, 713, 738, 916, 720, 982, 787, 784, 961, 957, 740,
       969, 836, 760, 898, 801, 800, 722, 804, 909, 946, 970, 871, 844,
       966, 764, 707, 986, 856, 728, 893, 714, 819, 897, 808, 799, 868,
       715, 757, 767, 776, 941, 923, 743, 731, 746, 771, 790, 904, 935,
       944, 967, 883, 848, 817, 882, 739, 816, 881, 810, 779, 811, 841,
       899, 782, 953, 983, 973, 919, 809, 827, 763, 894, 748, 874, 908,
       751, 927, 840, 788, 975, 989, 912, 959, 937, 747, 915, 831, 963,
       845, 992, 820, 931, 974, 736, 775, 886, 843, 859, 785, 755, 860,
       700, 947, 996, 956, 777, 921, 730, 920, 892, 803, 802, 793, 890,
       985, 976, 796], dtype=int64)

In [112]:
import pandas as pd

# Função para categorizar a 'localizacao'
def categorizar_localizacao(valor):
    if 0 <= valor < 100:
        return 'Generalidades. Ciência e conhecimento.'
    elif 100 <= valor < 200:
        return 'Filosofia e psicologia'
    elif 200 <= valor < 300:
        return 'Religião'
    elif 300 <= valor < 400:
        return 'Ciências sociais'
    elif 400 <= valor < 500:
        return 'Classe vaga. Provisoriamente não ocupada'
    elif 500 <= valor < 600:
        return 'Matemática e ciências naturais'
    elif 600 <= valor < 700:
        return 'Ciências aplicadas'
    elif 700 <= valor < 800:
        return 'Belas artes'
    elif 800 <= valor < 900:
        return 'Linguagem. Língua. Linguística'
    elif 900 <= valor < 1000:
        return 'Geografia. Biografia. História'
    else:
        return None

# Aplicar a função a cada valor na coluna 'localizacao'
emprestimos_completo['classe geral na CDU'] = emprestimos_completo['localizacao'].apply(categorizar_localizacao)

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario,id_exemplar,colecao,biblioteca,status_material,localizacao,registro_sistema,classe geral na CDU
0,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,ALUNO DE GRADUAÇÃO,13259,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630,4225,Ciências aplicadas
1,726965,L095049,2010/03/31 12:41:08.684000000,2010/03/01 12:40:56.212000000,2010/04/30 14:42:35.366000000,2.009122e+09,ALUNO DE PÓS-GRADUAÇÃO,13259,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630,4225,Ciências aplicadas
2,709685,L167050,NaN,2010/01/04 07:44:10.750000000,2010/01/12 07:34:13.934000000,2.008023e+09,ALUNO DE GRADUAÇÃO,70865,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647,25009,Ciências aplicadas
3,717763,L167050,NaN,2010/02/11 11:16:30.335000000,2010/03/04 08:54:32.262000000,2.008050e+09,ALUNO DE GRADUAÇÃO,70865,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647,25009,Ciências aplicadas
4,729996,L167050,2010/03/17 09:08:26.874000000,2010/03/04 13:36:26.599000000,2010/03/31 18:04:29.669000000,2.007226e+08,ALUNO DE GRADUAÇÃO,70865,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647,25009,Ciências aplicadas
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1992284,2989020,2014062640,NaN,2020/03/17 19:51:15.700000000,2021/01/07 11:16:28.000000000,2.019004e+10,ALUNO DE GRADUAÇÃO,1157915,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,228,213248,Religião
1992285,2989032,2018003324,NaN,2020/03/17 20:00:11.416000000,2021/08/30 13:29:44.000000000,2.019102e+10,ALUNO DE PÓS-GRADUAÇÃO,1317173,Acervo Circulante,Biblioteca Setorial da Faculdade de Ciências d...,REGULAR,784,255835,Belas artes
1992286,2989049,2006024313,NaN,2020/03/17 20:47:18.741000000,NaN,2.015013e+10,ALUNO DE GRADUAÇÃO,206073,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,663,82178,Ciências aplicadas
1992287,2989061,2018031352,NaN,2020/03/17 21:22:22.138000000,2021/07/26 15:05:20.000000000,2.020001e+10,ALUNO DE GRADUAÇÃO,1342535,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,355,174443,Ciências sociais
1992288,2989076,2019014718,NaN,2020/03/19 10:18:42.837000000,NaN,2.019101e+10,ALUNO DE PÓS-GRADUAÇÃO,1323312,Acervo Circulante,Biblioteca Setorial do Núcleo de Educação da I...,REGULAR,514,236084,Matemática e ciências naturais

In [115]:
emprestimos_completo.drop(columns='registro_sistema')

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario,id_exemplar,colecao,biblioteca,status_material,localizacao,classe geral na CDU
0,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,ALUNO DE GRADUAÇÃO,13259,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630,Ciências aplicadas
1,726965,L095049,2010/03/31 12:41:08.684000000,2010/03/01 12:40:56.212000000,2010/04/30 14:42:35.366000000,2.009122e+09,ALUNO DE PÓS-GRADUAÇÃO,13259,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630,Ciências aplicadas
2,709685,L167050,NaN,2010/01/04 07:44:10.750000000,2010/01/12 07:34:13.934000000,2.008023e+09,ALUNO DE GRADUAÇÃO,70865,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647,Ciências aplicadas
3,717763,L167050,NaN,2010/02/11 11:16:30.335000000,2010/03/04 08:54:32.262000000,2.008050e+09,ALUNO DE GRADUAÇÃO,70865,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647,Ciências aplicadas
4,729996,L167050,2010/03/17 09:08:26.874000000,2010/03/04 13:36:26.599000000,2010/03/31 18:04:29.669000000,2.007226e+08,ALUNO DE GRADUAÇÃO,70865,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647,Ciências aplicadas
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1992284,2989020,2014062640,NaN,2020/03/17 19:51:15.700000000,2021/01/07 11:16:28.000000000,2.019004e+10,ALUNO DE GRADUAÇÃO,1157915,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,228,Religião
1992285,2989032,2018003324,NaN,2020/03/17 20:00:11.416000000,2021/08/30 13:29:44.000000000,2.019102e+10,ALUNO DE PÓS-GRADUAÇÃO,1317173,Acervo Circulante,Biblioteca Setorial da Faculdade de Ciências d...,REGULAR,784,Belas artes
1992286,2989049,2006024313,NaN,2020/03/17 20:47:18.741000000,NaN,2.015013e+10,ALUNO DE GRADUAÇÃO,206073,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,663,Ciências aplicadas
1992287,2989061,2018031352,NaN,2020/03/17 21:22:22.138000000,2021/07/26 15:05:20.000000000,2.020001e+10,ALUNO DE GRADUAÇÃO,1342535,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,355,Ciências sociais
1992288,2989076,2019014718,NaN,2020/03/19 10:18:42.837000000,NaN,2.019101e+10,ALUNO DE PÓS-GRADUAÇÃO,1323312,Acervo Circulante,Biblioteca Setorial do Núcleo de Educação da I...,REGULAR,514,Matemática e ciências naturais

In [121]:
emprestimos_completo['matricula_ou_siape']=emprestimos_completo['matricula_ou_siape'].astype(str).str.rstrip('.0')

In [122]:
emprestimos_completo['matricula_ou_siape']

0           2008023265
1           2009121584
2           2008023265
3           2008050352
4            200722565
              ...
1992284    20190035012
1992285    20191021693
1992286    20150129867
1992287    20200005327
1992288    20191008584
Name: matricula_ou_siape, Length: 1992289, dtype: object