# Desafio 7DaysOfCode

### Day 1: Coleta e Organização dos Dados

In [50]:
import pandas as pd
import os

Verificando e lendo os arquivos

In [51]:

diretorio = 'D:\\Usuario\\Documents\\Cursos\\7DaysOfCode - Python Pandas\\Datasets\\dados_emprestimos'

arquivos = os.listdir(diretorio)
print(f"Arquivos no diretório '{diretorio}':")
for arquivo in arquivos:
        print(arquivo)

Arquivos no diretório 'D:\Usuario\Documents\Cursos\7DaysOfCode - Python Pandas\Datasets\dados_emprestimos':
emprestimos-20101.csv
emprestimos-20102.csv
emprestimos-20111.csv
emprestimos-20112.csv
emprestimos-20121.csv
emprestimos-20122.csv
emprestimos-20131.csv
emprestimos-20132.csv
emprestimos-20141.csv
emprestimos-20142.csv
emprestimos-20151.csv
emprestimos-20152.csv
emprestimos-20161.csv
emprestimos-20162.csv
emprestimos-20171.csv
emprestimos-20172.csv
emprestimos-20181.csv
emprestimos-20182.csv
emprestimos-20191.csv
emprestimos-20192.csv
emprestimos-20201.csv

In [52]:

emprestimos_20101 = pd.read_csv(os.path.join(diretorio, 'emprestimos-20101.csv'))
emprestimos_20102 = pd.read_csv(os.path.join(diretorio, 'emprestimos-20102.csv'))
emprestimos_20111 = pd.read_csv(os.path.join(diretorio, 'emprestimos-20111.csv'))
emprestimos_20112 = pd.read_csv(os.path.join(diretorio, 'emprestimos-20112.csv'))
emprestimos_20121 = pd.read_csv(os.path.join(diretorio, 'emprestimos-20121.csv'))
emprestimos_20122 = pd.read_csv(os.path.join(diretorio, 'emprestimos-20122.csv'))
emprestimos_20131 = pd.read_csv(os.path.join(diretorio, 'emprestimos-20131.csv'))
emprestimos_20132 = pd.read_csv(os.path.join(diretorio, 'emprestimos-20132.csv'))
emprestimos_20141 = pd.read_csv(os.path.join(diretorio, 'emprestimos-20141.csv'))
emprestimos_20142 = pd.read_csv(os.path.join(diretorio, 'emprestimos-20142.csv'))
emprestimos_20151 = pd.read_csv(os.path.join(diretorio, 'emprestimos-20151.csv'))
emprestimos_20152 = pd.read_csv(os.path.join(diretorio, 'emprestimos-20152.csv'))
emprestimos_20161 = pd.read_csv(os.path.join(diretorio, 'emprestimos-20161.csv'))
emprestimos_20162 = pd.read_csv(os.path.join(diretorio, 'emprestimos-20162.csv'))
emprestimos_20171 = pd.read_csv(os.path.join(diretorio, 'emprestimos-20171.csv'))
emprestimos_20172 = pd.read_csv(os.path.join(diretorio, 'emprestimos-20172.csv'))
emprestimos_20181 = pd.read_csv(os.path.join(diretorio, 'emprestimos-20181.csv'))
emprestimos_20182 = pd.read_csv(os.path.join(diretorio, 'emprestimos-20182.csv'))
emprestimos_20191 = pd.read_csv(os.path.join(diretorio, 'emprestimos-20191.csv'))
emprestimos_20192 = pd.read_csv(os.path.join(diretorio, 'emprestimos-20182.csv'))
emprestimos_20201 = pd.read_csv(os.path.join(diretorio, 'emprestimos-20201.csv'))

In [53]:
# Unificando os arquivos
emprestimos = pd.concat(  [emprestimos_20101, 
            emprestimos_20102 ,
            emprestimos_20111 ,
            emprestimos_20112,
            emprestimos_20121,
            emprestimos_20122,
            emprestimos_20131,
            emprestimos_20132,
            emprestimos_20141,
            emprestimos_20142,
            emprestimos_20151,
            emprestimos_20152,
            emprestimos_20161,
            emprestimos_20162,
            emprestimos_20171,
            emprestimos_20172,
            emprestimos_20181,
            emprestimos_20182,
            emprestimos_20191,
            emprestimos_20192,
            emprestimos_20201],

            axis=0,
            verify_integrity=False,
            ignore_index=False)

In [54]:
emprestimos

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario
0,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,ALUNO DE GRADUAÇÃO
1,709685,L167050,NaN,2010/01/04 07:44:10.750000000,2010/01/12 07:34:13.934000000,2.008023e+09,ALUNO DE GRADUAÇÃO
2,709686,2006017618,2010/01/26 08:07:01.738000000,2010/01/04 08:08:44.081000000,2010/02/25 07:36:25.800000000,2.008112e+09,ALUNO DE PÓS-GRADUAÇÃO
3,709687,L184117,2010/01/18 11:07:46.470000000,2010/01/04 08:24:21.284000000,2010/02/03 08:58:45.692000000,2.007211e+08,ALUNO DE GRADUAÇÃO
4,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,ALUNO DE GRADUAÇÃO
...,...,...,...,...,...,...,...
26556,2989086,2008047044,NaN,2020/05/05 19:51:06.059000000,2021/05/13 14:53:31.000000000,3.067431e+06,SERVIDOR TÉCNICO-ADMINISTRATIVO
26557,2989087,2008047047,NaN,2020/05/05 19:51:06.135000000,2021/05/13 14:53:38.000000000,3.067431e+06,SERVIDOR TÉCNICO-ADMINISTRATIVO
26558,2989088,2010052905,NaN,2020/05/05 19:51:06.164000000,2021/05/13 15:01:46.000000000,3.067431e+06,SERVIDOR TÉCNICO-ADMINISTRATIVO
26559,2989089,2010048023,NaN,2020/06/09 11:54:02.669000000,2021/07/21 15:33:55.000000000,2.020101e+10,ALUNO DE PÓS-GRADUAÇÃO
26560,2989090,2013106838,NaN,2020/06/09 11:54:02.852000000,2021/07/21 15:33:45.000000000,2.020101e+10,ALUNO DE PÓS-GRADUAÇÃO

Removendo os dados duplicados

In [63]:
if emprestimos. duplicated().sum()>=0:
    print('Temos dados duplicados')
    emprestimos_sem_duplicados=emprestimos.drop_duplicates()
    quantidade_duplicados = len(emprestimos) - len(emprestimos_sem_duplicados)
    print(f'Foram removidos {quantidade_duplicados} dados duplicados')

else:
    print('Não temos dados duplicados')
    emprestimos_sem_duplicados=emprestimos

Temos dados duplicados
Foram removidos 95052 dados duplicados

Verificando os dados nulos

In [66]:
emprestimos_sem_duplicados. isnull().sum()

id_emprestimo                 0
codigo_barras                 0
data_renovacao          1237601
data_emprestimo               0
data_devolucao             6434
matricula_ou_siape         3115
tipo_vinculo_usuario          0
dtype: int64

Importando mais dados

In [ ]:
diretorio = 'D:\\Usuario\\Documents\\Cursos\\7DaysOfCode - Python Pandas\\Datasets'

In [ ]:
dados_exemplares = pd.read_parquet(os.path.join(diretorio, 'dados_exemplares.parquet'))
dados_exemplares

Unindo os dados

In [57]:
emprestimos_completo = emprestimos_sem_duplicados.merge(dados_exemplares)
emprestimos_completo

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario,id_exemplar,colecao,biblioteca,status_material,localizacao,registro_sistema
0,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,ALUNO DE GRADUAÇÃO,13259,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630,4225
1,726965,L095049,2010/03/31 12:41:08.684000000,2010/03/01 12:40:56.212000000,2010/04/30 14:42:35.366000000,2.009122e+09,ALUNO DE PÓS-GRADUAÇÃO,13259,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630,4225
2,709685,L167050,NaN,2010/01/04 07:44:10.750000000,2010/01/12 07:34:13.934000000,2.008023e+09,ALUNO DE GRADUAÇÃO,70865,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647,25009
3,717763,L167050,NaN,2010/02/11 11:16:30.335000000,2010/03/04 08:54:32.262000000,2.008050e+09,ALUNO DE GRADUAÇÃO,70865,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647,25009
4,729996,L167050,2010/03/17 09:08:26.874000000,2010/03/04 13:36:26.599000000,2010/03/31 18:04:29.669000000,2.007226e+08,ALUNO DE GRADUAÇÃO,70865,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647,25009
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1992284,2989020,2014062640,NaN,2020/03/17 19:51:15.700000000,2021/01/07 11:16:28.000000000,2.019004e+10,ALUNO DE GRADUAÇÃO,1157915,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,228,213248
1992285,2989032,2018003324,NaN,2020/03/17 20:00:11.416000000,2021/08/30 13:29:44.000000000,2.019102e+10,ALUNO DE PÓS-GRADUAÇÃO,1317173,Acervo Circulante,Biblioteca Setorial da Faculdade de Ciências d...,REGULAR,784,255835
1992286,2989049,2006024313,NaN,2020/03/17 20:47:18.741000000,NaN,2.015013e+10,ALUNO DE GRADUAÇÃO,206073,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,663,82178
1992287,2989061,2018031352,NaN,2020/03/17 21:22:22.138000000,2021/07/26 15:05:20.000000000,2.020001e+10,ALUNO DE GRADUAÇÃO,1342535,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,355,174443
1992288,2989076,2019014718,NaN,2020/03/19 10:18:42.837000000,NaN,2.019101e+10,ALUNO DE PÓS-GRADUAÇÃO,1323312,Acervo Circulante,Biblioteca Setorial do Núcleo de Educação da I...,REGULAR,514,236084